<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fast Foodie</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
    <header><div class="logo">
     <h1>FoOdie</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Order</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    </header>
    <section class="hero">
        <h2>  Hot & Spicy foods just for you  </h2>
        <br>
        <button>Order now</button>
 </section>
 <section class="Menu">
    <h2>Menu here</h2>
    <div class="menu-item">
        <img src="c:\Users\RAJA SAHAB\Downloads\download (1).jpeg" alt="Cheesy Burgers">
        <h3>Burger</h3>
        <p>juicy cheesy  fresh burgers</p>
        <span>$5.99</span>
    </div>
    <div class="menu-item">
        <img src="c:\Users\RAJA SAHAB\Downloads\OIP.jpeg "alt="Cheesy Burgers">
        <h3>Pizza</h3>
        <p>cheesy fresh Pizza with multiple flavours</p>
        <span>$8.99</span>
    </div>
    <div class="menu-item">
        <img src="c:\Users\RAJA SAHAB\Downloads\download (2).jpeg"alt="Crispy Fries">
        <h3>Crispy Fries</h3>
        <p>Crispy Fries with extra spices and cheese</p>
        <span>$3.99</span>
    </div>
 </section>
 <footer>
    <p>&copy;2024 FoOdie. All rights reserved</p>
 </footer>
</body>



</html>