body{
    font-family: sans-serif,Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo h1{
    margin: 0;
}
header  nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
header nav ul li {
    margin-left: 25px;
}
header nav ul li a {
    color: white
    
} 

.hero {
    background-image:url(../../Downloads/bg5.jpeg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}
.hero h2{
    font-size: 2rem;
    border: 2px solid brown ;
    display: inline;
    background-color: #ff6347;

}
.hero button{
    background-color: #ff6347;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px
}
.Menu {
    text-align: center;
    padding: 50px 20px;
}
.Menu h2{
    font-size: 2rem;
    margin-bottom: 30px;

}
.Menu .menu-item{
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    text-align: center;
}
.Menu .menu-item img{
    width: 100%;
    border-radius: 10px;

}
.Menu .menu-item h3{
    margin: 15px 0 10px;
}
.Menu .menu-item p{
    margin: 0 0 10px;

}
.Menu .menu-item span{
    font-size: 1.2rem;
    color: #ff6347
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0 ;
    margin: 35px;

}